In [153]:
import sqlite3
import os
import pandas as pd
from shapely.geometry import LineString
from shapely.geometry.polygon import Polygon
from shapely.geometry import Point
import geopandas as gpd
from shapely import wkt
import folium

from shapely.geometry import MultiPolygon, Polygon
from shapely.wkt import loads



spatialite_path = "C:/Users/user/Documents/mod_spatialite-5.1.0-win-amd64"
os.environ["PATH"] = spatialite_path + ";" + os.environ["PATH"]

# create a new sqlite data base
conn = sqlite3.connect("BPN_11.sqlite")
conn.enable_load_extension(True)
conn.load_extension("mod_spatialite")

# mod_spatialite (recommended)
conn.execute('SELECT load_extension("mod_spatialite")')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# initiate a spatial metadata for the sqlite database 
cursor.execute("SELECT InitSpatialMetadata(1);")

In [154]:
# Checking spatialite version 
res = cursor.execute("SELECT spatialite_version()")
print(res.fetchone())

# Checking Sqlite Version
res1 = cursor.execute("SELECT sqlite_version()")
print(res1.fetchone())

('5.1.0',)
('3.45.1',)

In [155]:
def customQuery(Query):
    database = sqlite3.connect('BPN_11.sqlite')
    dataframe = pd.read_sql_query(Query, database)
#     print(dataframe)
    return dataframe
    
# second = customQuery("select ST_Intersects(r1.geom, r2.geom) as check1 from spatial_data r1 cross join spatial_data r2 where r1.id = 4 and r2.id = 2;")

def customFetch(Fetch):
    Fetch = Fetch
    cursor.execute(Fetch)
    res = cursor.fetchone()
    return res[0]

def customFetchAll(Fetch):
#     cursor.execute("select ST_Touches(r1.geom, r2.geom) as check1 from spatial_data r1 cross join spatial_data r2 where r1.id = 4 and r2.id = 2;")
    cursor.execute(Fetch)
    res = cursor.fetchall()
#     print(res)
    return res

In [156]:
testing = [[[15, 20], [25, 20], [25, 30], [15, 30]],
           [[1,1],[1,5],[5,5],[5,1]],
            [[0.5, 0], [1, 0]]]

In [218]:
# cursor.execute("SELECT CreateTopology('topotest4', 32748, 0, 0);")
# cursor.execute("SELECT ST_AddIsoNode('topotest4', 0, MakePoint(-180, 90, 32748));")
# cursor.execute("SELECT ST_AddIsoNode('topotest4', 0, MakePoint(180, 90, 32748));")
# cursor.execute("SELECT ST_AddIsoNode('topotest4', 0, MakePoint(-180, 0, 32748));")


cursor.execute("SELECT ST_AddEdgeNewFaces('topotest4', 1, 3, ST_GeomFromText('LINESTRING(-180 90, 180 90, -180 0)', 32748));")

# customQuery("select * from topotest4_node")
# customQuery("select * from topotest4_edge")
# customQuery("select * from topotest4_face")

OperationalError: SQL/MM Spatial exception - geometry crosses a node

In [224]:
cursor.execute("SELECT CreateTopology('topotest3', 32748, 0, 0);")
# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(15, 20, 32748));")
# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(25, 20, 32748));")
# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(25, 30, 32748));")
# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(15, 30, 32748));")

# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(14, 20, 32748));")
# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(10, 20, 32748));")

# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(14.8, 20, 32748));")
# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(14.8, 10, 32748));")

# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(20, 35, 32748));")
# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(20, 15, 32748));")

# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(0, 0, 32748));")
# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(0, 5, 32748));")
# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(5, 5, 32748));")
# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(5, 0, 32748));")
# cursor.execute("SELECT ST_AddIsoNode('topotest3', 0, MakePoint(-1, 0, 32748));")



# cursor.execute("SELECT ST_AddEdgeNewFaces('topotest3', 9, 9, ST_GeomFromText('LINESTRING(0 0, 0 5, 5 5, 5 0, 0 0)', 32748));")
# cursor.execute("SELECT ST_AddEdgeNewFaces('topotest3', 9, 11, ST_GeomFromText('LINESTRING(0 0, 2 3, 5 5)', 32748));")



# cursor.execute("SELECT ST_AddEdgeNewFaces('topotest3', 7, 8, ST_GeomFromText('LINESTRING(0 0, 0 5)', 32748));")
# cursor.execute("SELECT ST_AddEdgeNewFaces('topotest3', 8, 9, ST_GeomFromText('LINESTRING(0 5, 5 5)', 32748));")
# cursor.execute("SELECT ST_AddEdgeNewFaces('topotest3', 9, 10, ST_GeomFromText('LINESTRING(5 5, 5 0)', 32748));")
# cursor.execute("SELECT ST_AddEdgeNewFaces('topotest3', 10, 11, ST_GeomFromText('LINESTRING(5 0, -1 0)', 32748));")

# cursor.execute("SELECT ST_AddIsoEdge('topotest3', 1, 2, ST_GeomFromText('LINESTRING(15 20, 25 20)', 32748));")
# cursor.execute("SELECT ST_AddIsoEdge('topotest3', 1, 2, ST_GeomFromText('LINESTRING(15 20, 25 20)', 32748));")
# cursor.execute("SELECT ST_AddEdgeNewFaces('topotest3', 1, 2, ST_GeomFromText('LINESTRING(15 20, 25 20)', 32748));")
# cursor.execute("SELECT ST_AddEdgeNewFaces('topotest3', 2, 3, ST_GeomFromText('LINESTRING(25 20, 25 30)', 32748));")
# cursor.execute("SELECT ST_AddEdgeNewFaces('topotest3', 3, 4, ST_GeomFromText('LINESTRING(25 30, 15 30)', 32748));")
# cursor.execute("SELECT ST_AddEdgeNewFaces('topotest3', 4, 1, ST_GeomFromText('LINESTRING(15 30, 15 20)', 32748));")

# cursor.execute("SELECT ST_AddEdgeNewFaces('topotest3', 5, 6, ST_GeomFromText('LINESTRING(14 20, 10 20)', 32748));")
# cursor.execute("SELECT ST_AddEdgeNewFaces('topotest3', 7, 8, ST_GeomFromText('LINESTRING(14.8 20, 14.8 10)', 32748));")

# cursor.execute("delete from topotest3_edge where edge_id=7")
# cursor.execute("delete from topotest3_node where node_id>=5 and node_id<=8")


conn.commit()

# print(customFetchAll("select *, asText(geom) from topotest3_node"))
# print(customFetchAll("select *, asText(geom) from topotest1_edge"))
# print(customFetchAll("select * from topotest1_face"))

# testing = customFetchAll("select *, ST_AsText(mbr) from topotest1_face where face_id=1")
# print(testing)

# customQuery("select * from topotest3_node")
customQuery("select * from topotest3_edge")
# customQuery("select * from topotest3_face")
# print(customFetchAll("SELECT * FROM topology.TopologySummary('topotest1');"))

,edge_id,start_node,end_node,next_left_edge,next_right_edge,left_face,right_face,timestamp,geom
0,1,1,2,2,-4,1,0,2024-03-27T14:13:40.315Z,b'\x00\x01\xec\x7f\x00\x00\x00\x00\x00\x00\x00...
1,2,2,3,3,-1,1,0,2024-03-27T14:13:40.315Z,b'\x00\x01\xec\x7f\x00\x00\x00\x00\x00\x00\x00...
2,3,3,4,4,-2,1,0,2024-03-27T14:13:40.315Z,b'\x00\x01\xec\x7f\x00\x00\x00\x00\x00\x00\x00...
3,4,4,1,1,-3,1,0,2024-03-27T14:13:40.315Z,b'\x00\x01\xec\x7f\x00\x00\x00\x00\x00\x00\x00...
4,8,9,11,-8,8,0,0,2024-03-27T14:50:14.705Z,b'\x00\x01\xec\x7f\x00\x00\x00\x00\x00\x00\x00...

In [146]:

# Execute the queries with error handling
try:
#     execute_query("SELECT ST_AddIsoNode('topotest1', 0, MakePoint(0, 0, 4326));")
#     execute_query("SELECT ST_AddIsoNode('topotest1', 0, MakePoint(0, 5, 4326));")
#     execute_query("SELECT ST_AddIsoNode('topotest1', 0, MakePoint(5, 5, 4326));")
#     execute_query("SELECT ST_AddIsoNode('topotest1', 0, MakePoint(5, 0, 4326));")
#     execute_query("SELECT ST_AddIsoNode('topotest1', 0, MakePoint(-1, 0, 4326));")
    
#     execute_query("SELECT ST_AddEdgeNewFaces('topotest1', 7, 8, ST_GeomFromText('LINESTRING(0 0, 0 5)', 4326));")
#     execute_query("SELECT ST_AddEdgeNewFaces('topotest1', 8, 9, ST_GeomFromText('LINESTRING(0 5, 5 5)', 4326));")
#     execute_query("SELECT ST_AddEdgeNewFaces('topotest1', 9, 10, ST_GeomFromText('LINESTRING(5 5, 5 0)', 4326));")
    execute_query("SELECT ST_AddEdgeNewFaces('topotest1', 10, 11, ST_GeomFromText('LINESTRING(5 0, -1 0)', 4326));")
except Exception as e:
    print(f"Error: {e}")

# Close the database connection
conn.close()

Error executing query: SQL/MM Spatial exception - geometry crosses a node

In [48]:
# The coordinate system here is TM 3 thus the SRID is 32651
# SELECT CreateTopology('topotest', 32651, 0, 0);

class Topology:
    
    # The constructor for the topology class should be the coordinate, topology name, and srid
    def __init__(self, topoName, Coords, SRID):
        self.Coords = Coords
        self.SRID = SRID
        self.topoName = topoName
        
#     method to check duplicate and return the location and value of the duplicate data 
    def checkDuplicate(self):
#         to store the unique value 
        seen_elements = set()

#     accessing the index through enumerate
        for i, sublist in enumerate(self.Coords):
            for j, element in enumerate(sublist):
                if tuple(element) in seen_elements:
                    print(f'Duplicate found at location ({i}, {j}): {element}')
                else:
                    seen_elements.add(tuple(element))
                    
#     method to check duplicate and return the location and value of the duplicate data         
    def remove_duplicates(self):
        result_list = []
        for sublist in self.Coords:
            seen_elements = set()
            unique_sublist = []
            for element in sublist:
                if tuple(element) not in seen_elements:
                    unique_sublist.append(element)
                    seen_elements.add(tuple(element))
            result_list.append(unique_sublist)
        return result_list
                    
                    
    # method to create new topology 
    def createTopo(self): 
        # create a new topology 
        try:
            print(f"Creating topology with name: {self.topoName}")
            cursor.execute(f"SELECT CreateTopology('{self.topoName}', {self.SRID},0 ,0);")
            res1 = cursor.fetchone()
            print(res1)
        # return if there is error 
        except sqlite3.Error as e:
            print("Error:", e)
            
            
            
    #     method to create nodes from input data
    def makeNode(self):
        for i, sublist in enumerate(self.Coords):
            for j, element in enumerate(sublist):
                print(f"SELECT ST_AddIsoNode('{self.topoName}', Null, MakePoint({sublist[j][0]}, {sublist[j][1]}, {self.SRID}));")
                cursor.execute(f"SELECT ST_AddIsoNode('{self.topoName}', Null, MakePoint({sublist[j][0]}, {sublist[j][1]}, {self.SRID}));")
        print("Node has been created")
        conn.commit()
    
    
#     method to create isolated edge that cannot be connected to another edge. Thcerefore, face cannot be created this way
    def makeEdge(self):
        edgeId = 1
        for i in range(0, len(self.Coords)-4, 2):
#             print(f"SELECT ST_AddIsoEdge('{self.topoName}', {edgeId}, {edgeId+1}, ST_GeomFromText('LINESTRING({self.Coords[i]} {self.Coords[i+1]}, {self.Coords[i+2]} {self.Coords[i+3]})', {self.SRID}));")
            cursor.execute(f"SELECT ST_AddIsoEdge('{self.topoName}', {edgeId}, {edgeId+1}, ST_GeomFromText('LINESTRING({self.Coords[i]} {self.Coords[i+1]}, {self.Coords[i+2]} {self.Coords[i+3]})', {self.SRID}));")
            edgeId+=1
#         print(f"SELECT ST_AddIsoEdge('{self.topoName}', {edgeId}, 1, ST_GeomFromText('LINESTRING({self.Coords[len(self.Coords)-4]} {self.Coords[len(self.Coords)-3]}, {self.Coords[len(self.Coords)-2]} {self.Coords[len(self.Coords)-1]})', {self.SRID}));")
        cursor.execute(f"SELECT ST_AddIsoEdge('{self.topoName}', {edgeId}, 0, ST_GeomFromText('LINESTRING({self.Coords[len(self.Coords)-4]} {self.Coords[len(self.Coords)-3]}, {self.Coords[len(self.Coords)-2]} {self.Coords[len(self.Coords)-1]})', {self.SRID}));")
        print("Edge has been created")
        conn.commit()
    
    
#     method to automatically create edge and face 
    def makeFace(self):
        nodeId = 1
        for i, sublist in enumerate(data):
            for j in range(len(sublist) - 2):  # Adjust loop bounds
                print(f"SELECT ST_AddEdgeNewFaces('{self.topoName}', {nodeId}, {nodeId+1}, ST_GeomFromText('LINESTRING({sublist[j][0]} {sublist[j][1]}, {sublist[j+1][0]} {sublist[j+1][1]})', {self.SRID}));")
                cursor.execute(f"SELECT ST_AddEdgeNewFaces('{self.topoName}', {nodeId}, {nodeId+1}, ST_GeomFromText('LINESTRING({sublist[j][0]} {sublist[j][1]}, {sublist[j+1][0]} {sublist[j+1][1]})', {self.SRID}));")
                nodeId += 1
            print(f"SELECT ST_AddEdgeNewFaces('{self.topoName}', {nodeId}, {nodeId-(len(sublist) - 2)}, ST_GeomFromText('LINESTRING({sublist[j+1][0]} {sublist[j+1][1]}, {sublist[j+2][0]} {sublist[j+2][1]})', {self.SRID}));")
            cursor.execute(f"SELECT ST_AddEdgeNewFaces('{self.topoName}', {nodeId}, {nodeId-(len(sublist) - 2)}, ST_GeomFromText('LINESTRING({sublist[j+1][0]} {sublist[j+1][1]}, {sublist[j+2][0]} {sublist[j+2][1]})', {self.SRID}));")
            print("next")
        conn.commit()
        
#     checking the topology using table
    def nodeTopo(self):
        cnx = sqlite3.connect('BPN_Topology.sqlite')
        df = pd.read_sql_query(f"SELECT * FROM {self.topoName}_node", cnx)
        print(df)
    def edgeTopo(self):
        cnx = sqlite3.connect('BPN_Topology.sqlite')
        df2 = pd.read_sql_query(f"SELECT * FROM {self.topoName}_edge", cnx)
        print(df2)
    def edgeTopo(self):
        cnx = sqlite3.connect('BPN_Topology.sqlite')
        df3 = pd.read_sql_query(f"SELECT * FROM {self.topoName}_face", cnx)
        print(df3)
        
    def checkTopo(self, Fetch):
        self.Fetch = Fetch
        cursor.execute(Fetch)
        res = cursor.fetchall()
        print(res)
        return res
    
    def checkTopoNode(self):
        cursor.execute(f"select *, asText(geom) from {self.topoName}_node")
        res = cursor.fetchall()
        print(res)
        return res
        
    def checkTopoEdge(self):
        cursor.execute(f"select *, asText(geom) from {self.topoName}_edge")
        res = cursor.fetchall()
        print(res)
        return res
    
    def checkTopoFace(self):
        cursor.execute(f"select *, asText(geom) from {self.topoName}_face")
        res = cursor.fetchall()
        print(res)
        return res

In [83]:
# instanciate the class and methods of Topology Class
# input all the parameters needed into this constructor 
Data1 = Topology("trial10",testing, 4326)

# create a topology with trial 5 as the name 
Data1 = Data1.createTopo()

# create node from the data given 
# Data1.makeNode()

# create face and edge add the same time from the created node 
# Data1.makeFace()

# check the node table 
# Data1.nodeTopo()

# check the edge table 
# Data1.nodeTopo()

# check the face table 
# Data1.nodeTopo()

# check the node table 
# Data1.checkTopoNode()

# check the edge table 
# Data1.checkTopoEdge()

# check the face table 
# Data1.checkTopoFace()

# cursor.execute("SELECT ST_AddIsoNode('trial10', Null, MakePoint(15, 20, 4326));")

# conn.commit()

Creating topology with name: trial10
(0,)
[(1, 2, 1, -1, 1, 0, 0, '2024-03-27T08:25:39.340Z', b'\x00\x01\xe6\x10\x00\x00\x00\x00\x00\x00\x00\x80f\xc0\x00\x00\x00\x00\x00\x80V@\x00\x00\x00\x00\x00\x80f@\x00\x00\x00\x00\x00\x80V@|\x02\x00\x00\x00\x02\x00\x00\x00\x00\x00\x00\x00\x00\x80f\xc0\x00\x00\x00\x00\x00\x80V@\x00\x00\x00\x00\x00\x80f@\x00\x00\x00\x00\x00\x80V@\xfe', 'LINESTRING(-180 90, 180 90)')]